@media(max-width:700px) {

    html {
        font-size: 50%;
        overflow-x: hidden
    }

    .logo img:nth-child(1) {
        display: none;
    }

    .logo img:nth-child(2) {
        display: block;
        width: 50px;
        height: 100%;
        cursor: pointer;
    }


    .header {
        align-items: center;
        background-color: #001f3e;
    }




    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #001f3e;
        // background: #FE7F14;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;
        pointer-events: none;
    }

    .hamburguer {
        display: block;
        z-index: 1;

    }

    .nav.active .hamburguer {
        position: fixed;
        top: 24px;
        right: 1em;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }



    .hero-texto {
        display: flex;
        width: 50%;
        left: 0;
        top: 0;
        align-items: center;
    }


    .hero-texto h2,
    p,
    a {
        font-size: 1.3rem;
    }

    .hero-texto a {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }



}

@media(max-width:1366px) {}